<div class="container-fluid" style="margin-top: 10px">

  <div class="row justify-content-center">

    <div class="col-sm-2">
      <h2>数独助手</h2>
      <p>
        <button type="button" class="btn btn-primary" (click)="restart()">重新开始</button>
      </p>
      <p>
        <button type="button" class="btn btn-primary" (click)="revert()">回退一步</button>
      </p>

      <p>
        调整大小 {{board_size}}
      </p>
      <p>
        <input type="range" min="500" max="900" step="100"
               [(ngModel)]="board_size" (change)="resizeBoard()">
      </p>

      <div class="panel">
      </div>

    </div>

    <div class="col-sm-auto">
      <canvas #mycanvas
              style="border: 1px solid blue"
              (click)="onclick($event)"></canvas>
    </div>

    <div class="col-sm-2"></div>

  </div>

</div>
